div{
    padding:50px;
    background-color: rgb(228, 222, 222);
    height: 95vh;
}
h2{
    margin-bottom: 50px;
    color: lightseagreen;
    font-size: 4vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color:rgb(100, 96, 96);
    font-size: 4vw;
    line-height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}